/* color : #d2534d ; */
/* style="border: 1px solid black" */
/* common */
body, #wrapper {
  height: 100%;
  width: 100%;
  background-color: #ECEEEF;
}

.filter-lr {
  padding-right: 10%;
  padding-left: 10%;
}

.btn-link {font-size: 14px;}

.btn {
  border-radius: 0px;
}

a {
  color: black;

  -webkit-transition: color 0.3s, border 0.3s ; /* webkit :  chrome and 
  safari*/
  -moz-transition:    color 0.3s, border 0.3s; /* moz :  mozilla firefox*/
  -ms-transition:     color 0.3s, border 0.3s; /* ms : microsoft edge */
  -o-transition:      color 0.3s, border 0.3s; /* o :  opera */
  transition:         color 0.3s, border 0.3s;
}

a:hover {
  text-decoration: none;
}

.banner a:hover {color: #d2534d;}

.link-w {
  color: white;
  font-size: 12px;
}

.link-w:focus {
  color: #d2534d;
}

.back-to-top {
  cursor: pointer;
  position: fixed;
  bottom: 25%;
  right: 1%;
  display:none;
}


/* end common */
/* -------------------------------------------------- */

/* banner */

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.login-help a:hover{
  color: black
}

.banner {width: 100%;}

.affix {
  top: 0;
  width: 100%;
}

.navbar {
  border-radius: 0px;
  background-color: white ;
  z-index: 50;
}

.icon-bar {
  background-color: black;
}

.modal-email .modal-content {
  margin-top: 10%;
  text-align: center;
  background-color: #012C40;
  color: white;
}

.form-group button {
  color: white;
  background-color: #d2534d;
  border: 1px solid #d2534d;
}

.form-group button:hover{
  color: white;
  background-color: #E75446;
}

/* end banner */
/* -------------------------------------------------- */

/* carousel */

#myCarousel .nav a small
{
    display: block;
}
#myCarousel .nav
{
    background: #eee;
}
.nav-justified > li > a
{
    border-radius: 0px;
}
#myCarousel .nav a small
{
  display: block;
}
#myCarousel .nav
{
  background: white;
}
.nav-justified > li > a
{
  border-radius: 0px;
}
.nav-pills>li[data-slide-to="0"].active a,
.nav-pills>li[data-slide-to="1"].active a,
.nav-pills>li[data-slide-to="2"].active a,
.nav-pills>li[data-slide-to="3"].active a { background-color: #d2534d; }

/* end carousel */
/* -------------------------------------------------- */

/* panel */

.panel , .panel-heading{
  box-shadow: none;
  border: none;
}

.panel-body {background-color: white}

.content-2 .panel .panel-heading {background-color: #f0f3f4}

.content-2 .col-sm-6 ,
.content-2 .col-sm-5 {border: 1px solid white}

.col-md-2:hover{border: 1px solid #DFDFDF}



/* end panel */
/* -------------------------------------------------- */

/* col */
.content-1 .col-sm-12 img, #content2 img {
  float: left;
  margin-right: 2%;
}

.col-sm-12 {
  padding-top: 2%;
  padding-bottom: 2%;
}

  /* icon font awesome */
  .fa {
    font-size: 16px;
  }

  .footer .col-sm-3 ul {
    margin: 20px 0px 0px -40px;
  }

  .footer .col-sm-3 ul li {
    list-style: none;
    float: left;
    margin: -12px 5px 0px;
  }

  .footer .col-sm-3 ul a {
    color: black;
    padding: 5px;
    border: 3px solid black;
    border-radius: 20px;
  }
  .footer .col-sm-3 ul .fa-twitter {
    padding: 0px 2px 2px 2px;
  }
  .footer .col-sm-3 ul .fa-facebook {
    padding: 0px 5px 4px 5px;
  }

  .footer .col-sm-3 ul .fa-flickr,
  .footer .col-sm-3 ul .fa-google,
  .footer .col-sm-3 ul .fa-instagram,
  .footer .col-sm-3 ul .fa-youtube {
    padding: 0px 2px 3px 2px;
  }

  .footer .col-sm-3 a:hover {
    color: #d2534d !important;
    border-color: #d2534d !important;
    -webkit-transition: .8s ease;
    -moz-transition: .8s ease;
    -ms-transition: .8s ease;
    -o-transition: .8s ease;
    transition: .8s ease;
  }

  .footer .col-sm-3 a:hover i {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    color: #d2534d;
    -webkit-transition: .3s ease;
    -moz-transition: .3s ease;
    -ms-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease;
  }


  /* end icon font awesome */

/* end col */

/* content-2 */
.content-2 .panel-body p{
  font-size: 14px;
  padding: 0px 10px 20px 30px;
  color: #505050;
}

.content-2 .panel-body b, .sp-chitiet b {
  color: #d2534d;
  font-size: 16px;
  font-weight: 600;
  line-height: 40px;
}

.content-2 {margin : 30px 0px 50px;}

.content-2 b {
  font-size: 20px;
  font-weight: 100
}

.content-2 .panel-body {padding: 0;}

.content-2 .item {cursor: pointer}

.content-2 .panel .item img {
  width: 80%;
  margin: 0 auto;
  padding: 30px 0px;
}

.content-2 .panel .panel-heading a {float:right;}

.col-sm-6 a {padding: 500px 0px}

.thuonghieu .col-sm-3 img{
  height: 200px;
  padding: 20px 0px;
}

.thuonghieu .col-sm-3 {text-align: center;}

.thuonghieu .panel {
  padding: 1% 0%;
}

.content-2-heading {
  padding: 20px 0px;
  border-bottom: 1px solid #DFDFDF;
}

.content-2-heading b {
  font-size: 25px;
  margin-left: 30px;
}

  /* magnify */
  .mag img {
    max-width: 100%;
  }

  .magnify {
    position: relative;
    cursor: none;
  }

  .magnify-large {
    position: absolute;
    display: none;
    width: 300px;
    height: 300px;

    -webkit-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85);
       -moz-box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.85);
            box-shadow: 0 0 0 1px black;
    
    -webkit-border-radius: 0%;
       -moz-border-radius: 0%;
             border-radius: 0%
  }
  /* end magnify */

/* end content-2 */

/* product */

.product .panel-heading {background-color: white}

.sp-chitiet h4 {
  font-size: 20px;
  font-weight: 400
}

.sp-chitiet b {color: #d2534d}

.sp-chitiet .col-sm-8 p {border-bottom: 1px solid #f0f3f4}

.sp-chitiet p {padding: 20px 0px;color: black}

/* content-2-footer */

.content-footer {
  text-align: center;
  margin-top: -1%;
  padding-bottom: 2%;
  font-size: 12px;
  color: #9f9f9f;
}

.content-footer a {
  color: #9f9f9f;
}

.content-footer a:hover {color: black;}

  /* badge */
  .shape{
    border-style: solid;
    border-width: 0 70px 40px 0;
    float:right;
    height: 0px;
    width: 0px;
    -ms-transform:rotate(360deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(360deg); /* Safari and Chrome */
    transform:rotate(360deg);
  }


  .offer-warning .shape{
    border-color: transparent #f0ad4e transparent transparent;
    border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
  }

  .offer-none .shape{
    border-color: transparent white transparent transparent;
    border-color: rgba(255,255,255,0) white rgba(255,255,255,0) rgba(255,255,255,0);
  }

  .shape-text{
    color:#fff;
    font-size:12px;
    font-weight:bold;
    position:relative;
    right:-40px;
    white-space: nowrap;
    -ms-transform:rotate(30deg); /* IE 9 */
    -o-transform: rotate(360deg);  /* Opera 10.5 */
    -webkit-transform:rotate(30deg); /* Safari and Chrome */
    transform:rotate(30deg);
  } 


/* footer */
.footer {
  background-color:white;
  padding: 40px 0px;
  font-size: 17px;
  line-height: 25px
}


.footer .col-sm-3 img {height: 27px;}

.footer .col-sm-6 b {
  color: #d2534d;
  font-weight: 800;
}

.footer .col-sm-6 {
  font-size: 13px;
}